<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- JDBC connection settings -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/tpalt</property>
		<property name="connection.username">root</property>
		<property name="connection.password">ThePassword</property>

		<!--https://www.progress.com/jdbc/resources/tutorials/connection-pooling/connection -->
		<property name="connection.pool_size">1</property>

		<!-- SQL DIALECT -->
		<property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>

		<!-- SHOW SQL OUTPUT -->
		<property name="show_sql">true</property>

		<mapping class="objects.Utilisateur" />

	</session-factory>
</hibernate-configuration>